@font-face{
	font-family: 'Impact';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/impact.eot');
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/impact.eot?#iefix') format('embedded-opentype'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/impact.woff') format('woff'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/impact.ttf') format('truetype'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/impact.svg#OpenSansLight') format('svg');
    font-weight: 400;
    font-style: normal
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* The Cat Button in the FB Chat Box */
.catbutton {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.catbutton:active {
	opacity: .2;
}

/* The Popup */
#catPopUp {
	width: 285px;
	height: 320px;
	position: absolute;
	bottom: 54px;
	right: 240px;
	background-color: #fff;
	border: 0;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    overflow: hidden;
    padding: 5px;
}
#catHeader {
	height: 35px;
	text-align: center;
}
#catHeader h2 {
	padding: 0 5px;
	line-height: 35px;
	display: inline-block;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	transition: color .3s;
	cursor: pointer;
}
#catHeader h2:hover {
	color: #0084ff;
}
#catBody {
	position: relative;
	text-align: center;
}
#catBody h3 {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 25px;
	font-family: 'Impact', sans-serif;
	text-shadow: 0px 0px 5px #000;
}
#picture {
	width: 100%;
	height: 275px;
	background-color: #000;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}